@font-face {
  font-family: 'Heavitas';
  src: url('Heavitas.ttf') format('truetype');
}

body {
  font-family: 'Heavitas', sans-serif;
  color: #f0f0f0;
  overflow-x: hidden;
  /* Aquí puedes aplicar estilos adicionales para la fuente */
  padding: 0%;
  margin: 0;
}


body {
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: #141414;
}

  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
      white-space: nowrap;
      margin-bottom: 6vh;
      /* overflow: hidden;     */
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  main {
    margin: 20px;
  }
  
  .audiovisuales, .Reel, .contacto, .descripcion {
    padding-top: 20px;
    padding-bottom: 0;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  nav h3 {
    display: inline-block;
    margin-left: 20px;
  }
  
  body {
    height: 100vh;
    margin: 0;
  }
  
  div {
    height: 80vh;
  }
  
  html {
    scroll-behavior: smooth;
}

nav a {
    margin: 10vw;
    margin-left: 8vw;
}

/* nav a:last-child {
    margin-right: 10px;
} */

.tarea {
    text-align: left;
}


a {
  text-decoration: none;
  color: #a3a3a3;
}

.selected{
  color: #eeeeee;
  text-shadow: 1px 1px 1px #777777;
}


a:hover{
  color: #eeeeee;
  text-shadow: 1px 1px 1px #777777;
}

header {
  position: inherit;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #141414; /* Cambia el color a tu preferencia */
  z-index: 1000; /* Asegura que la barra de navegación esté en la parte superior */
  height: 20vh;
}

.video-container{
  text-align: left;
  align-content: center;
  width: auto;
  margin: auto;
}

.video-container-1 {
  text-align: left;
  align-content: center;
}

.audiovisuales {
  text-align: center;
  margin: 0;
}

a img {
  width: 50px;
  height: 50px;
}

iframe {
  width: 96vw; /* Aumenta el ancho según tus necesidades */
  height: 80vh; /* Aumenta la altura según tus necesidades */
}

nav a {
  font-size: larger;
}

.oculto {
  display: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  max-width: 20vh; /* ajusta este valor según el tamaño de tu logo */
  height: auto;
  object-fit: contain;
  align-self: flex-start;
  padding-right: 10px; /* ajusta este valor según la separación que deseas */

}

#contacto {
  overflow: hidden;
}

.descripcion img {
  max-width: 100%;
  max-height: 400px;
}

h2 {
  color: #f0f0f0;
}

.video-container {
  padding-bottom: 200px;
}

.video-container-1 {
  padding-bottom: 40px;
  margin: 0;
}

h2 {
  margin-top: -90px;
  display: flex; /* Utilizamos un contenedor flexible para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.titulo {
  margin: 0;
}

.renzo {
  padding-top: 6.3ch;
  padding-left: 22rem;
  padding-right: 22rem;
  font-size: 4.4em;
  font-family: 'Young Serif', 'Courier New', Courier, monospace;
  text-transform: uppercase;  
  }
  
h3 {
  text-align: center;
}

a {
  font-size: 12px;
}

.main {
  padding-top: 0px;
}

iframe {
  border: none;
}
