

#encabezado-principal
{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 10em;
    width: 100%;
}

#encabezado-principal h1
{
    font-family: "Young Serif", "Courier New", Courier, monospace;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
}

@media (max-width: 768px)
{



    body {
        margin: 0; /* Elimina el margen alrededor del contenedor del video */
    
        font-size: 1em; /* Reduce el tamaño de la fuente base */
    }
    
    #encabezado-principal h1 {
        font-size: 2.3em; /* Reducción del tamaño de la fuente para los títulos de los artículos y el encabezado principal */
        margin-bottom: 0em; /* Ajuste del margen inferior */
    }

    #navegacion-principal a {
        font-size: 0.87em; /* Reducción del tamaño de la fuente para los títulos de los artículos, el encabezado principal y los enlaces de navegación */
        margin-top: 0em; /* Ajuste del margen inferior */
    }

    article header h2{
        font-size: 1em;
    }
    article header h3{
        font-size: 0.85em;
    }
    article header p{
        font-size: 0.75em;
    }
    
    .contenido-articulo,
    .contenedor-video-youtube,
    main {
        margin: 0; /* Elimina el margen alrededor del contenedor del video */
        padding-left: 0;
        padding-right: 0;
    }    
}