

#encabezado-principal
{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 10em;
    width: 100%;
}

#encabezado-principal h1
{
    font-family: "Young Serif", "Courier New", Courier, monospace;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
}

@media (max-width: 768px)
{
    
    #encabezado-principal h1 {
        font-size: 2em; /* Reducción del tamaño de la fuente para los títulos de los artículos y el encabezado principal */
        margin-bottom: 0em; /* Ajuste del margen inferior */
    }

}